{% extends "index.html" %} 

{% block title %} Login {% endblock %} 

{% block body %}

<!--Login-->
<form method="POST">
  <br>
  <h1 align="center">Tooter</h1>

  <!--Input Email-->
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    >
  </div>

  <!--Input Password-->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    >
  </div>

  <br>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}
