{% extends "index.html" %} 

{% block title %} Verification {% endblock %} 

{% block body %}
    
    <!--Verify OTP-->
    <form method="POST">
      <br>
      <h3 align="center">Insert your OTP</h3>
    
      <div class="form-group">
        <label for="otp">OTP</label>
        <input
          type="text"
          class="form-control"
          id="otp"
          name="otp"
          placeholder="Enter 6-digit number"
        >
      </div>
      
      <button type="submit" class="btn btn-primary">Verify</button>
    </form>

{% endblock %}